td.a{background-color: rgb(61, 145, 255);}
td.H{background-color: rgb(255, 255, 255);}
td.B{background-color: rgb(61, 145, 255);}
td.c{background-color: rgb(247, 173, 37);}
td.F{background-color: rgb(218, 41, 241);}
td.D{background-color: rgb(245, 241, 43);}
td.g{background-color: rgb(255, 145, 56);}
td.d{background-color: rgb(245, 241, 43);text-align: right;}
h2{text-align: center;font-family: "f";;color:
    rgb(231, 79, 52);text-shadow: 2px 3px 5px rgb(252, 251, 251);font-size: 45px;}
    @font-face {
        font-family: "f";
        src: url("Cheerfully.otf");}
    body{background-image: url(flo.gif);padding: 0px;}