h2{text-align: center;font-family: "f";;color:
     rgb(218, 10, 72);text-shadow: 2px 3px 5px rgb(252, 251, 251);font-size: 50px;}
p.subtitle{text-align: center;text-shadow: 2px 3px 5px rgb(252, 251, 251);color: rgb(201, 73, 101);font-size: 25pt;
    font-family: "ab";}

@font-face {
    font-family: "ab";
    src: url("Autumn better.otf"); }
    @font-face {
     font-family: "ac";
     src: url("Cheerfully.otf"); }
  
    @font-face {
     font-family: "f";
     src: url("Cartoon\ Design.otf"); }

     
  
     body {background-image:
        url("flo.gif");padding: 40px;
              text-align: center;background-size: 1400px;}
              li.a{
               color: rgba(15, 15, 15, 0.973);font-family: "ac";font-size: 22px;
           }
           li.b{
               color:  rgb(0, 0, 0);font-family: "ac";font-size: 22px;
           }
           li.c{
               color: rgb(0, 0, 0);font-family: "ac";font-size: 22px;
           }
           li.d{
               color: rgb(0, 0, 0);font-family: "ac";font-size: 22px;
           }
           script.facts{
               color: rgb(0, 0, 0);font-family: "ac";font-size: 22px;
           }
              img.z{width: 300px; 
               height:150px ; border-radius: 20px 30px 20px 30px; }
   img.z:hover{width: 400px; height:200px ;box-shadow: 20px 10px 10px rgb(250, 170, 201);}
    